@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);


#header4-0 H1 {
  font-family: 'Slabo 27px', serif;
  font-size: 80px;
  color: #000000;
}
#header4-0 P {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
